//
// - - - - - - - - - - Inputs - - - - - - - - - - //
//

.stats {
	display: grid;
	grid-template-columns: 100px .5fr 1fr;
	gap: 1.5em;
	.bonus {
		width: 5em;
		height: 5em;
		text-align: center;
		-webkit-clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
		clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
		border: none;

		&:focus {
			outline: none;
		}
	}

	.savingThrows {
		.baseSave {
			display: flex;
			justify-content: space-between;
			align-items: center;

			input {
				width: 2em;
				height: 2em;
				text-align: center;
			}
		}

		.skillSave {
			display: grid;
			grid-template-columns: repeat(2, 90px 2em);

			input {
				width: 2em;
				height: 2em;
			}
		}
	}
}
