//
// Images
//

img {
	width: 300px;
	border-radius: 10%;
}

#card {
	@include spirit-card;
}

//									   //
// - - - - - Cocktail Images - - - - - //
//									   //

.cocktailPic {
	width: 400px;
}
