//									 //
// - - - - - Main Headings - - - - - //
//									 //

h1 {
	text-align: center;
	margin-top: 5%;
	font-size: 4em;
	font-family: sans-serif;
}

//									//
// - - - - - Sub Headings - - - - - //
//									//

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

//							  			//
// - - - - - History Sections - - - - - //
//							 			//

.history {
	background-color: orange;
	border-radius: 25px;
	max-width: 1000px;
	padding: 1.5em;
	margin: auto;
	font-size: 1.25em;
}
