//
// - - - - - - - - - - Main Headings - - - - - - - - - - //
//

.nameBanner {
	h1 {
		text-align: center;
		font-size: 4em;
		font-family: sans-serif;
		color: white;
		margin-bottom: 0;
		margin-top: 2.5em;
	}
	p {
		margin-top: 0;
		text-align: right;
		margin-right: 3%;
		font-size: 1.5em;
		font-weight: 900;
	}
}

//									//
// - - - - - Sub Headings - - - - - //
//									//

h2 {
	text-align: center;
	font-size: 2.5em;
	color: white;
	margin-bottom: 15px;
}

h3 {
	text-align: center;
}

//									 				  //
// - - - - - - - - - - Pull Quote - - - - - - - - - - //
//									 				  //

.pullQuote {
	position: relative;
	width: 70%;
	margin: 0 auto;
	font-size: 2.5em;
	margin-bottom: 6em;
	border-left: 5px solid white;

	blockquote {
		font-family: Arial, Helvetica, sans-serif;
		quotes: '"';
		margin-left: 15px;
		font-style: italic;
		line-height: 1.25em;

		&::before {
			content: open-quote;
			color: white;
			opacity: .5;
			font-size: 2em;
			padding-right: 10px;
		}
	}
}
